.article {
    &__wrapper {
        border: 1px solid #000000;
        margin: 25px 0px;
        padding: 25px;
    }

    &__link {
        color: blue;

        &:hover,
        &:focus {
            color: purple;
            text-decoration: underline;
        }
    }

    &__date {
        display: block;
    }

    &__pin-button {
        display: block;
        padding: 5px 25px;
        background-color: #000000;
        color: #FFFFFF;
        margin: 15px 0px 0px 0px;
    }
}